/* font-family: 'Bebas Neue', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Stardos Stencil', cursive; */
/* ============================= HTML Section ============================= */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
  overflow-x: hidden;
  min-height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

/* ============================= Div Center Section =============================  */
.divcenter {
  display: flex;
  justify-content: center;
}

/* ============================= Animation Section =============================  */
.slidein {
  animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.slidein1 {
  animation-duration: 4s;
  animation-name: slidein1;
}

@keyframes slidein1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }

  50% {
    border-color: orange
  }
}

/* DEMO-SPECIFIC STYLES */
.test1 {
  color: #fff;
  /* font-family: monospace; */
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 2s steps(40, end),
    blink-caret .5s step-end infinite;
}

/* ============================= Border Style Section =============================  */
.borderstyle {
  border-top: 2px solid #fff;
  width: 50%;
}

.borderstyle1 {
  border: 1px solid #000;
}

/* ============================= Padding Style Section =============================  */
.padstyle1 {
  padding: 0 2rem;
}

.hrbdrpad {
    padding: 0 15%;
}

/* ============================= Text-Decoration Section =============================  */
.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.textleft {
  text-align: left;
}

.textjust {
  text-align: justify;
}

/* ============================= Horizontal Style Section =============================  */
.hrstyle {
  color: #fff;
  opacity: 1;
  width: 100%;
}

.hrbrdr {
  border-top: 1px dashed #fff;
  opacity: 1;
}

/* ============================= Navigation Section =============================  */
.logo-font {
  color: #fff;
  font-family: 'Bree Serif', sans-serif;
  width: auto;
}

.bg-black {
  background-color: black;
}

#navbarNav {
  text-align: center;
  width: auto;
  padding: 0 22%;
}

#nav-link {
  padding: 0 3rem;
  font-family: 'Bree Serif', sans-serif;
}

#nav-link, .logo-font {
  font-size: 1.2rem;
}

/* ============================= Introduction Section =============================  */
#Section-1 {
  margin-top: 2.54rem;
}

#Intro {
  background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  padding: 10% 29%;
  height: 100%;
}

#intro-hrstyle-1 {
  padding-top: 0.9rem;
}

.intro-header {
  /* font-family: 'Bree Serif', sans-serif; */
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
}

.intro-header2 {
  /* font-family: 'Bree Serif', cursive; */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-style: none;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  padding: 10% 0;
}

.intro-header3 {
  color: white;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  word-spacing: 0.1rem;
  text-align: center;
  margin-top: 7px;
}

#intro-hrstyle-2 {
  padding-top: 0.8rem;
}

/* Intro button */
.three-column {
  width: 100%;
}

.intro-btn-pad {
  padding-top: 2rem;
  /* text-align: right; */
}

.intro-btn-pad1 {
  padding-top: 2rem;
}

.btn-outline-success {
  color: #32ff6a;
  border-color: #32ff6a;
}

.btn-outline-success:hover {
  color: #000;
  border-color: #fff;
  background-color: #fff;
}

#Hire-Me, #Click-Here {
  padding: 0 5px;
  width: 150px;
}

#Hire-Me {
  height: 35px;
  padding: 1px 0;
}

.btnfont {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
}

/* About Me Section */
#About-Me {
  padding: 5% 0;
}

#About-Me-Section-1 {
  padding: 1rem 28%;
}

.hrstyle1 {
  color: #000;
  opacity: 1;
  width: 100%;
}

.about-hr, .Service-hr {
  margin-top: 1.5rem;
}

.About-Me-Font, .About-Me-Font1, .Service-Skills-Font, .Portfolio-Font {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  letter-spacing: 5px;
  text-align: center;
}

.about-font1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  text-decoration: underline;
}

#About-Service-Skills-Row-1 {
  padding: 2rem 5%;
  transition-delay: : 2s;
}

.about-me-text {
  font-size: 1rem;
}

.about-font2 {
  font-family: 'Raleway', sans-serif;
}

p#Service-Web.about-font2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  text-decoration: underline;
}

/* ================= Service Skills Section ================= */
#Service-Skills {
  background-color: #000;
  color: white;
  padding: 5% 0;
}

#Service-Skills-Section-1 {
  padding: 5% 20%;
}

.hrstyle4 {
  color: white;
  opacity: 1;
}

/* Portfolio Section */
.imageport1 {
  position: relative;
  height: 350px;
  width: 33.33%;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  margin-bottom: 1rem;
}

.imageport1:hover .overlay {
  opacity: 1;
}

.overlay {
  opacity: 0;
  border-radius: 2px;
  background-image: linear-gradient(233deg, #716bf6, #5055df);
  /* text-align: center; */
  position: absolute;
  width: 601px;
  height: 350px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  color: #fff;
  transition: 1s ease;
}

.overlay1 {
  margin: 0 auto;
  right: 0;
}

.text {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

#Portfolio {
  background-color: #fff;
  padding-bottom: 3rem;
}

.hrstyle2 {
  color: #fff;
  opacity: 1;
  width: 100%;
}

#Portfolio-Section-1 {
  padding: 5% 20%;
}

.portpadleft {
  /* padding-left: 2%;
  padding-right: 2%; */
}

.imgpt1 {
  width: 600px;
  height: 350px;
}

/* ================= Contact Section ================= */
#Contact-Me {
  padding: 5% 0 5%;
  background-color: black;
}

#Contact {
  color: white;
}

.ht-102 {
  /* height: 80vh; */
}

.Contact-Font-1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

.Contact-Me-Font1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  letter-spacing: 5px;
  text-align: center;
}

.font4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
  text-decoration: underline;
}

.font5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.font6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  color: black;
}

label.contactpadleft {
  padding-left: 25px;
}

.msght {
  height: 200px !important;
}

.btnpadleft {
  padding-left: 40%;
}

.btn-yellow {
  background-color: #fec110;
  border-color: #fec110;
  color: white;
}

.btn-yellow:hover {
  background-color: #fff;
  border-color: #fec110;
  color: #fec110;
}

.btnfont {
  font-family: 'Josefin sans', cursive;
}

.pad-title {
  padding: 5% 15%;
}

.hrstyle5 {
  opacity: 1;
}

.contact-pad-1 {
  padding-bottom: 3rem;
}

.contact-pad-2 {
  padding-left: 25%;
  padding-right: 25%;
}

.contact-pad-3 {
  padding: 0 10%;
}

.contact-pad-4 {
  padding-bottom: 1rem;
}

#contact-hr1 {
  display: none;
}

/* ================= Footer ================= */
.p1 {
  color: #fff;
  text-align: center;
  font-family: 'Josefin sans', cursive;
  letter-spacing: 2px;
  padding: 0.5rem;
  font-weight: bolder;
}

.pfooter {
  margin: 0;
}

.mb-7 {
  padding-top: 200px;
}

.footer-section {
  border-top: 1px solid #fff;
}

.social-margin {
  margin: 9px;
}

/* =========================================================================== */
/* =============================== MEDIA QUERY =============================== */
/* =========================================================================== */
/* Max Width: 1200 px  */
@media screen and (max-width: 1680px) {
  .imageport1 {
    width: 50%;
    margin-bottom: 2rem;
  }
}

/* Max Width: 1200 px  */
@media screen and (max-width: 1440px) {
  #Intro {
    padding: 7% 15%;
  }

  #About-Me-Section-1 {
    padding: 5% 20%;
  }

  p#Service-Web.about-font2 {
    font-size: 1.35rem;
  }

  p.about-font2.about-me-text {
    font-size: 0.85rem;
  }

  #Portfolio-Section-1 {
    padding: 5% 14%;
  }

  #nav-link {
    padding: 1rem 3rem;
  }
}

/* Max Width: 1200 px  */
@media screen and (max-width: 1200px) {
  body {
    display: block;
  }

  #Section-1 {
    flex-direction: column;
  }

  .imageport1 {
    width: 100%;
    margin-bottom: 2rem;
  }

  #Service-Skills-Section-1, #Portfolio-Section-1 {
    padding: 5% 10%;
  }

  .Portfolio-Font {
    font-size: 3.9rem;
  }
}

/* Max Width: 992 px  */
@media screen and (max-width: 992px) {
  #Intro {
    padding: 7% 10%;
  }

  #About-Me-Section-1 {
    padding: 5% 10%;
  }
}

/* Max Width: 768 px  */
@media screen and (max-width: 768px) {

  body, html {
    height: auto;
    width: auto;
  }

  /* Intro Section */

  .intro-header {
    font-size: 1.7rem;
  }

  .intro-header2 {
    font-size: 3.5rem;
  }

  .intro-header3 {
    font-size: 1.5rem;
  }

  #intro-hrstyle-1 {
    padding-top: 0.4rem;
  }

  #Intro-Skills {
    padding: 0;
  }

  /* About Me Section  */

  .About-Me-Font {
    font-size: 2.8rem;
  }

  .about-font1 {
    font-size: 1.5rem;
  }

  /* Service Skills Section */

  .Service-Skills-Font {
    font-size: 2.8rem;
  }

  .Service-hr {
    margin-top: 1rem;
  }

  #Service-Skills-Section-1 {
    padding: 5% 10% 2%;
  }

  div.padstyle1 {
    padding: 0 7rem;
    text-align: center;
  }

  .Portfolio-Font {
    font-size: 2.8rem;
  }

  /* Contact Me Section  */

  .pad-title {
    padding: 5% 10%;
  }

  .Contact-Me-Font1 {
    font-size: 2.8rem;
  }

  p.font4 {
    text-align: center;
    font-size: 2rem;
    padding: 2% 0;
  }

  p.font5, .form-control{
    font-size: 1.3rem;
    text-align: center;
  }

  .imageport1 {
    width: 100%;
    margin-bottom: 2rem;
  }

  #contact-hr {
    display: block;
  }

  #contact-email {
    text-align: left;
  }
}

/* Max Width: 576 px  */
@media screen and (max-width: 576px) {
  body, html {
    width: 100%;
  }

  p.intro-header {
    font-size: 1.4rem;
  }

  #intro-hrstyle-1 {
    padding: 0;
  }

  #intro-hrstyle-2 {
    padding: 0.2rem;
  }

  .intro-header2 {
    font-size: 2.7rem;
  }

  .intro-header3 {
    font-size: 1.27rem;
  }

  #Hire-Me {
    font-size: 1.1rem;
    padding: 5px;
  }

  #Click-Here {
    font-size: 1.1rem;
  }

  #imgpt1 {
    width: 522px;
  }

  .pad-title {
    padding: 5% 5% 3%;
  }

  .Contact-Me-Font1 {
    font-size: 2.8rem;
  }

  p.Contact-Font-1 {
    font-size: 1rem;
  }

  #contact-hr {
    margin-top: 1rem;
  }

  p.font4 {
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
  }

  p.font5 {
    font-size: 1.5rem;
    text-align: center;
  }

  .btnpadleft {
    padding-left: 200px;
  }

  #About-Me-Section-1 {
    padding: 5% 5%;
  }

  .About-Me-Font {
    font-size: 3rem;
  }

  #Service-Skills-Section-1 {
    padding: 5% 2% 3%;
    margin: 0;
  }

  .Service-Skills-Font {
    font-size: 2.2rem;
  }

  div.col-12.padstyle1 {
    text-align: center;
  }

  .Service-hr {
    margin-top: 0.5rem
  }

  #About-Service-Skills-Row-1 {
    padding: 1rem 5%
  }

  #Portfolio-Section-1 {
    padding: 5% 5%;
  }

  .Portfolio-Font {
    font-size: 3rem;
  }

  #footer-col {
    width: 10%;
  }

  #footer-col-main {
    text-align: center;
    width: 80%;
  }

}

/* iphone XS Max  */

@media screen and (max-width: 430px) {
  body, html {
    width: auto;
    overflow-x: hidden;
  }

  /* Introduction Section */
  #intro-hrstyle-1 {
    width: 10%;
  }

  #Intro-Hi {
    width: 80%;
    padding: 0;
  }

  .intro-header2 {
    font-size: 1.9rem;
  }

  #intro-hrstyle-2 {
    width: 15%;
    padding: 0;
  }

  #Intro-Skills {
    width: 70%;
  }

  .intro-header {
    width: 250px;
  }

  .intro-header3 {
    font-size: 1.1rem;
  }

  #Hire-Me, #Click-Here {
    font-size: 1rem;
    width: 110px;
    padding: 5px;
  }

  .intro-btn-pad1, .intro-btn-pad {
    padding: 0;
    width: 174px;
  }

  /* About Me Section */
  #About-Me-Section-1 {
    padding: 5% 4%;
  }

  .About-Me-Font {
    font-size: 2.1rem;
  }

  .about-font1 {
    font-size: 1.5rem;
  }

  #about-hr {
    margin-top: 0.5rem;
  }

  /* Service Skills Section */
  .Service-Skills-Font, .Portfolio-Font {
    font-size: 2rem;
    margin: 0;
  }

  #Service-hr {
    /* margin-top: 25px; */
    width: 10%;
    padding: 0;
    margin-top: 0.5rem;
  }

  #Service-Skills-Section-1 {
    padding: 5% 10%;
    margin: 0;
  }

  #Service-Skills-Font {
    width: 80%;
    padding: 0;
  }

  p#Service-Web.about-font2 {
    font-size: 1.25rem;
  }

  .padstyle1 {
    padding: 0 1rem;
  }

  /* Portfolio Section */
  #imgpt1 {
    height: 232px;
    width: 372px;
  }

  .imageport1 {
    height: auto;
  }

  .About-Me-Font1 {
    font-size: 1.6rem;
  }

  .about-hr {
    margin-top: 1rem;
  }

  #Portfolio-Section-1 {
    padding: 5% 5%;
  }

  /* Contact Me Section */
  #contact-hr {
    margin-top: 0;
  }

  p.Contact-Font-1 {
    font-size: 0.68rem;
    padding: 0;
  }

  #Contact-Title {
    margin: 0 !important;
  }

  p.font4 {
    font-size: 1.5rem;
    text-align: center;
  }

  p.font5 {
    font-size: 1.2rem;
    text-align: center;
  }

  .pad-title {
    padding: 5% 2% 0;
    margin: 0;
  }

  .Contact-Me-Font1 {
    font-size: 1.7rem;
  }

  div.btnpadleft {
    /* margin: 0 50%; */
    width: 100%;
    margin-left: 30%;
    padding: 0 0.75rem;
  }

  .btnfont {
    font-size: 1rem;
  }

  #footer-col-main {
    width: 524px;
  }
}

@media screen and (max-width: 375px) {
  body, html {
    width: auto;
    overflow-x: hidden;
  }

  .intro-header, .intro-header3 {
    font-size: 1rem;
  }

  #imgpt1 {
    width: 300px;
  }

  #contact-hr {
    width: 20%;
    padding: 0;
  }

  #Contact-Title {
    width: 60%;
    padding: 0;
  }

  div.col-12.padstyle1 {
    padding: 0 5%;
  }

  .pad-title {
    padding: 5% 0 0;
  }

  #footer-col {
    width: 5%;
  }

  #footer-col-main {
    width: 90%;
  }

  .intro-btn-pad, .intro-btn-pad1 {
    width: 150px;
  }

  #Hire-Me, #Click-Here {
    height: 32px;
    width: 110px;
  }

  .form-control, p.font5 {
    font-size: 1rem;
  }

  #Contact-Intro {
    margin: 0 !important;
  }

  p.font4 {
    font-size: 1.3rem;
  }

}

/* xs <576px
sm ≥576px
md ≥768px
lg ≥992px
xl ≥1200px
xxl ≥1400px */
